version: '3.8'

services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: n8n
      POSTGRES_PASSWORD: n8npass
      POSTGRES_DB: n8n
    volumes:
      - n8n_postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always
    volumes:
      - n8n_redis_data:/data

  n8n:

    image: n8nio/n8n:latest
    restart: always
    ports:
      - 5678:5678
    environment:
      N8N_ENABLE_NODE_DEV_MODE: true
      N8N_USE_BUNDLED_NODE: false

      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: postgres
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_DATABASE: n8n
      DB_POSTGRESDB_USER: n8n
      DB_POSTGRESDB_PASSWORD: n8npass

      N8N_BASIC_AUTH_ACTIVE: true
      N8N_BASIC_AUTH_USER: admin
      N8N_BASIC_AUTH_PASSWORD: adminpass

      N8N_HOST: n8n.local
      N8N_PORT: 5678
      WEBHOOK_URL: http://localhost:5678
      QUEUE_MODE: true
      REDIS_HOST: redis
      REDIS_PORT: 6379

      GENERIC_TIMEZONE: Asia/Kolkata

    volumes:
      - n8n_data:/home/node/.n8n
      - ./n8n_custom:/data
    depends_on:
      - postgres
      - redis

volumes:
  n8n_postgres_data:
  n8n_redis_data:
  n8n_data:
